HEADER

  /* The Search Bar */
.topnav-left input[type=text] {
    border: 1px solid #ccc;
    width: 20%;
    font-size: 18px;
    margin-left: 2%;
  }
  /* R.H.S Navigation Links */
  /* Style the links inside the navigation bar */
.topnav-right a {
color: #0000009d;
padding: 18px 18px;
text-decoration: none;
font-size: 19px;
width: 15%;
  }
  /* HOVER */
.topnav-right a:hover {
background-color: rgb(255, 255, 255);
color: rgba(0, 0, 0, 0.356);
  }
  /* RIGHT-ALIGNMENT */
.topnav-right {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  }
  /* Increase the font size of the <h1> element */
  .header h1 {
    color: rgb(68, 66, 66);
    font-size: 40px;
    padding: 0px;
    margin-left: 90px;
    margin-top: 100px;
    width: 95%;
    text-align: left;
    align-items: left;
  }
  .header h4 {
    color:rgb(112, 109, 109);
    font-size: 20px;
    padding: 0px;
    margin-left: 90px;
    width: 85%;
    text-align: left;
    align-items: left;
  }
 .header hr {
     margin-left: 90px;
     text-align: left;
     align-items: left;
 }
.author p1 {
    color:#ee8585;
    font-size: 20px;
    padding: 0px;
    margin-left: 120px;
    width: 95%;
    text-align: left;
    align-items: left;
}
.author p2 {
    color:rgb(112, 109, 109);
    font-size: 15px;
    padding: 0px;
    margin-left: 10px;
    width: 95%;
    text-align: left;
    align-items: left;
}
/* Center picture*/
.main_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product_description_1 {
    margin-left: 90px;
    background-color: #ffffff00;
    text-align: left;
    font-size: 20px;
    color: #0000009d;
}
.Pic2 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
.Pic3 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
.Pic4 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
.product_description_2 {
    margin-left: 90px;
    background-color: #ffffff00;
    text-align: left;
    font-size: 20px;
    color: #0000009d;
}
.title h1 {
    color: rgb(68, 66, 66);
    font-size: 30px;
    padding: 0px;
    margin-left: 90px;
    margin-top: 100px;
    width: 95%;
    text-align: left;
    align-items: left;
 }
.Pic5 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
.Pic6 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
.Pic7 {
    width: 15%;
    margin-left: 12%;
    padding: 10px;
}
  /* TABLE */
    table {
      list-style-type: none;
      padding: 20px;
      border-collapse: separate;
      border-spacing: 250px 0;
      left: 50%;
      background-color: #ffffff00;
      text-align: center;
      align-items: center;
      font-size: 20px;
      color: #0000009d;
  }
/* FOOTER */
/* BOTTOM NAVIGATION BAR */
.navbar {
  text-align: center;
  background: #ddd;  
}
/* TABLE */
  table {
    list-style-type: none;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    left: 50%;
  }
/* NAVIGATION LINKS */
/* LINKS*/
.navbar a {
  color: #0000009d;
  padding: 20px 20px;
  text-decoration: none;
  }
  /* HOVER */
  .navbar a:hover {
  color: black;
  }
  /* COPYRIGHT */
.copyright {
  text-align: center;
  font-size: 20px;
  color: #0000009d;
  background-color: #ffd1d1b6;
  padding: 1px;
}
